body{
  font-family: Poppins;
  background-color: #faae2f;
}
.App{
  margin:40px auto;
  min-height: 500px;
  width: 400px;
  background-color: black;
}
#todo input{
  background-color:#e4c3a3;
  height: 50px;
  width: 205px;
  margin:20px;
  padding:0px 25px;
  border-radius: 10px;
  border:none;
  font-size:16px;
  color:black;
  font-style:source sans pro;

}
#todo input::placeholder{
  color:rgba(8, 8, 8, 0.5)
}
#todo input:focus,#todo button:focus{
  outline:none;
}

#todo button{
  height: 50px;
  width:80px;
  border-radius: 6px;
  border:none;
  cursor:pointer;
  font-weight: bolder;
  color:black;
  background-color: #faae2f;
  
}