.list{
    color: white;
    width:300px;
    background-color:#fa8f2b ;
    height:50px;
    margin:20px auto;
    border-radius: 5px;

}
.list p{
    padding: 13px;
    
}
.list p span{
    position: absolute;
    padding-left:240px;
    cursor: pointer;

}